.Modal {
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: #080808;
  padding: 15px;
}
.ModalHeader {
  text-align: center;
}

.ModalBody {
  padding: 10px 0 34px 0;
}

.ModalFooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.buttonDecline {
  text-align: center;
  background: #2d2d2d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  padding: 5px 15px;
  color: red;
}
.buttonAccept {
  text-align: center;
  background: #2d2d2d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  padding: 5px 15px;
  color: green;
}
.imgDecline {
  margin-right: 6px;
}
.imgAccept {
  margin-right: 6px;
}

.TransactionModalAccount {
  display: flex;
  justify-content: center;
}

.TransactionModalBreakup {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
  padding: 2px 0;
}